In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv(os.path.join('data', 'unionTrain.csv'))
test_df = pd.read_csv(os.path.join('data', 'unionTest.csv'))
train_df.head()

,sequence_id,0_0X,0_0Y,0_1X,0_1Y,0_2X,0_2Y,0_3X,0_3Y,0_4X,...,853_20Y,853_21X,853_21Y,853_22X,853_22Y,853_23X,853_23Y,853_24X,853_24Y,Severity
0,128.778580,203.818390,137.074432,213.271698,120.394463,218.456604,128.786789,214.281204,138.171570,209.073471,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
2,0.000000,0.000000,0.000000,2.578170,21.342966,29.684607,82.876892,53.714298,149.624344,0.000000,...,71.378502,236.188980,71.378502,236.188980,71.378502,236.188980,71.378502,236.188980,71.378502,2
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,125.631256,222.626373,125.631256,222.626373,125.631256,222.626373,125.631256,222.626373,125.631256,2
4,103.680695,126.701424,108.963158,120.373978,85.994064,122.495720,96.498444,129.821487,105.855408,114.185593,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1

In [3]:
# train_df.columns.tolist()

In [10]:
tmpx = train_df.drop(['sequence_id', 'Severity'], axis=1).describe()
tmpy = train_df['Severity'].describe()

In [11]:
np.sum(tmpx, axis=1)

count    4.568900e+06
mean     4.390554e+06
std      3.630128e+06
min      8.126689e+01
25%      1.643644e+06
50%      3.613957e+06
75%      6.729176e+06
max      1.485234e+07
dtype: float64

In [5]:
y_train = train_df['Severity'].to_numpy()
cnt_tmp = np.bincount(y_train)
for i in range(1, 3):
    print(f"class_{i} = {cnt_tmp[i]}")

class_1 = 51
class_2 = 56